:root {
  --branco-paz: #ffffff;
  --braco-isabeline: #f4f3ee;
  --cinza-harpia: #3c3c3c;
  --preto-ebano: #0a0f0d;
  --vermelho-ucari: #ff6464;
  --vermelho-urucum: #ff0000;
  --vermelho-guara: #9b0000;
  --azul-ararinha: #00c8ff;
  --azul-atlatico: #183eff;
  --azul-petroleo: #00008c;
  --amarelo-ipe: #ffff00;
  --amarelo-sol: #ffd000;
  --amarelo-mel: #ff7d00;
  --verde-mandacaru: #00f537;
  --verde-amazonia: #00d000;
  --verde-quartzo: #009600;
}