@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --amarelo-sol: #B8860B;
  --vermelho-urucum: #B22222;
  --azul-ararinha: #48D1CC;
  --azul-atlatico: 	#008080;
  --amarelo-ipe: 	#FFD700;
  --cinza-harpia: #f8f8f8;
  
  animation: brilhar 3s infinite;
}
@keyframes brilhar {
  0% {
    --vermelho-urucum: #B22222;
    --azul-atlatico: 	#008080;
  }
}

  @keyframes anime {
    0% {
      box-shadow: 0 0 10px rgba(1, 1, 126, 0.938);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.877);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
  