/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126   
   License: none (public domain)*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Acima Reset do CSS */

:root {
  --branco-paz: #ffffff;
  --braco-isabeline: #f4f3ee;
  --cinza-harpia: #3c3c3c;
  --preto-ebano: #0a0f0d;
  --vermelho-ucari: #ff6464;
  --vermelho-urucum: #ff0000;
  --vermelho-guara: #9b0000;
  --azul-ararinha: #00c8ff;
  --azul-atlatico: #183eff;
  --azul-petroleo: #00008c;
  --amarelo-ipe: #ffff00;
  --amarelo-sol: #ffd000;
  --amarelo-mel: #ff7d00;
  --verde-mandacaru: #00f537;
  --verde-amazonia: #00d000;
  --verde-quartzo: #009600;
}

/*começo page.tsx*/

#background {
  width: 100%;
  min-width: 100vh;
  min-height: 100vh;
  background-color: var(--braco-isabelinea)
}

#mainBackground {
  justify-content: center;
  align-items: center;
  margin: 50px;
}

/*fim page.tsx*/

/* começo header */

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--branco-paz);
  padding: 10px;
  color: var(--preto-ebano);
}

.headerMenu {
  display: flex;

  .activate {
    color: var(--azul-atlatico);
    border-bottom: 3px solid transparent;
    border-bottom-color: var(--c-accent-primary);
  }

  a {
    color: var(--preto-ebano);
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;

    &:hover {
      color: var(--azul-atlatico);
      transition: 0.3;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

userSettings {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 20px;
    cursor: pointer;
    color: var(--preto-ebano);
    font-size: 24px;

    &:hover {
      color: var(--azul-atlatico);
      transition: 0.3;
    }
  }
}
/* fim header */

/* começo Main */

#mainContent {
  background-color: var(--branco-paz);
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 98%;
  height: 500px;
  display: flex;
}

.AreaDoArtefato {
  width: 10%;
  height: 100%;
  margin: 1%;
  bborder-radius: 8px;
  transition: background-color 0.3s;
  background-color: var(--braco-isabeline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  alignItems: center;
}

.qualdrado {
  width: 100%;
  height: 100%;
}

.primeiro {
  background-color: var(--vermelho-ucari);
}

.segundo {
  background-color: var(--azul-ararinha);

}

.terceiro {
  background-color: var(--amarelo-ipe);

}

/* fim Main */

/* começo CasaDecimal */

.titulo {
  font-size: 25px;
}

.numero {
  font-size: 125px;
  margin-bottom: 16px;
  transition: 1.5s ease-in-out;
}

/* fim CasaDecimal */
