.sideLeft {
  width: 8%;
  height: auto;
  margin: 1%;
  display: flex;
  border-Radius: 8px;
  align-Items: center;
  flex-Direction: column;
  /* border: 1px solid #998a8a; */
  justify-Content: center;
  /* animation: glow 59s infinite;  */
  /* transition: background-color 0.3s; */
  background-Color: var(--cinza-harpia);
}
.sideLeft:hover{
  /* filter:blur(1px); */
  /* transform: scale(0.9, 0.9); */
}
.sideLeft> * {
  /* pointer-events: auto-fill; */
}
.sideLeft:hover > *:hover {
    /* transform: scale(1.1, 1.1);
    filter: none; */
}

.icon {
  font-size: 50px;
}